<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    <title>About Us</title>
    
</head>
<body>
    <div class="nav_head">
        <div class="nav_title"><h1>Realtime Communication System</h1></div>
        <div class="icons">
            <ul class="header-list">
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='./profile.html'>Sign In page</a></li>
                <li class="header-list-elements"><a class="link-tag" href="./about_us.html">Developers</a></li>
                <li class="header-list-elements"><a class="link-tag" href="../index.html">Main page</a></li>
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/IBM-EPBL/IBM-Project-53405-1661400423" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>        
        </div>
    </div>
    <h1 class="title">Our Team</h1>

    <div class="persons">
        <div class="cont">
            <div class="row">
                <div class="c1">
                    <div class="bg"><img src="../static/img/619c00c608a8d833960e55a3_Benefits of a full stack Developer.png" alt="A"></div>
                    <div class="pro"><img src="C:\Users\ashis\OneDrive\Desktop\Nalaiyathiran\ps\IBM-Project-21317-1659777635-main\Project Development Phase\Sprint 2\Project\static\img\eliyamartin.jpeg" alt="B"></div>
                    <div class="main">
                        <h2>ELIYA MARTIN J</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM LEADER <br></b> 
                            Full Stack Developer <br>
                            Graphic Designer<br>
                            Cyber Security | Ethical Hacking<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:eliyamartin25@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://www.linkedin.com/in/eliya-martin-916b2224a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/ELIYAMARTIN/" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="c2">
                    <div class="heading">
                        <h2>TEAM LEADER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>ELIYA MARTIN J</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>210919205014</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>LOYOLA INSTITUTE OF TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>INFORMATION TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Team ID</td>
                                    <td>:&nbsp</td>
                                    <td>PNT2022TMID25714</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Base Project Program , UI/UX Design , CNN Model Building</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Documentation , Web Developement , Management</td>
                                </tr> 
                            </table>

                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c3">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>GOWTHAM R</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>210919205015</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>LOYOLA INSTITUTE OF TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>INFORMATION TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Team ID</td>
                                    <td>:&nbsp</td>
                                    <td>PNT2022TMID25714</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Web Developement , UI/UX Design ,</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Documentation</td>
                                </tr>
                            </table>

                        </h3>
                    </div>

                </div>
                <div class="c4">
                    <div class="bg"><img src="../static/img/de62a958074e66b6bfd09296d0d42ed1.jpg" alt="A"></div>
                    <div class="pro"><img src="../static/img/gowtham.jpeg" alt="B"></div>
                    <div class="main">
                        <h2>GOWTHAM</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b> 
                            Full Stack Developer<br>
                            UX/UI Designer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:r.gowtham3092001@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://github.com/gowtham-rvmg" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c1">
                    <div class="bg"><img src="../static/img/web-development.jpg" alt="A"></div>
                    <div class="pro"><img src="C:\Users\ashis\OneDrive\Desktop\Nalaiyathiran\ps\IBM-Project-21317-1659777635-main\Project Development Phase\Sprint 2\Project\static\img\PK.jpg" alt="B"></div>
                    <div class="main">
                        <h2>PRAVEENKUMAR</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b>
                            Front-end Developer<br>
                            UX/UI Designer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:ynotme4it@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://www.linkedin.com/in/praveen-kumar-186a47248/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/pk2811" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="c2">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>PRAVEENKUMAR R</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>210919205043</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>LOYOLA INSTITUTE OF TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>INFORMATION TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Team ID</td>
                                    <td>:&nbsp</td>
                                    <td>PNT2022TMID25714</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td> UI/UX Design , Front end development ,<br> Documentation ,Pre-Requisites works.</br></td>
                                </tr>
                            </table>

                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c3">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>TAMIL SELVAN S</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>210919205057</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>LOYOLA INSTITUTE OF TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>INFORMATION TECHNOLOGY</td>
                                </tr>
                                <tr>
                                    <td>Team ID</td>
                                    <td>:&nbsp</td>
                                    <td>PNT2022TMID25714</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Documentation , Data Collection</td>
                                </tr>
                            </table>

                        </h3>
                    </div>
                </div>
                <div class="c4">
                    <div class="bg"><img src="../static/img/3.What-is-Full-Stack-Web-Development-.webp" alt="A"></div>
                    <div class="pro"><img src="C:\Users\ashis\OneDrive\Desktop\Nalaiyathiran\ps\IBM-Project-21317-1659777635-main\Project Development Phase\Sprint 2\Project\static\img\tamilselvan.jpeg" alt="B"></div>
                    <div class="main">
                        <h2>Tamil Selvan</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b>
                            Front-end Developer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:tamilsts100101001@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                      
                        <a href="https://github.com/tamilhyper" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p id="copyrights" style="color: #474E68; font-size:20px; text-align:center;"></p>
    </footer>
    <script>
        const d = new Date();
        document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();
    </script>

</body>
</html>