{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="navbar">
    <div class="brand-header">
        <h2 class="navbar-header">Real Time Application</h2>
    </div>
    <div class="navigation">
        <ul class="header-list">
            <li class="header-list-elements"><a class="link-tag" href="./profile.html">Sign In page</a></li>
            <li class="header-list-elements"><a class="link-tag" href="/">Developers</a></li>
            <li class="header-list-elements"><a class="link-tag" href="/">Main page</a></li>
        </ul>
    </div>
</div>
<div class="left-container">
</div>
<div class="right-container">
</div>
{% endblock %}